extends base

block content 
  img(src="/" + loggedInUser.avatarUrl width="100" height="100")
  form(method="POST" enctype="multipart/form-data")
    label(for="avatar") Avatar
    input(type="file" id="avatar" name="avatar" accept="image/*")
    if emailErrorMessage
      p #{emailErrorMessage}
    input(name="email" type="email" placeholder="Email" value=loggedInUser.email required)
    if idErrorMessage
          p #{idErrorMessage}
    input(name="uid" type="text" placeholder="ID" value=loggedInUser.id required)
    input(name="name" type="text" placeholder="Name" value=loggedInUser.name required)
    input(name="location" type="text" placeholder="Location" value=loggedInUser.location)
    input(type="submit" value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr; 
      //- socialOnly(깃허브로로그인 되지않은사람들만 change-passowrd가 뜬다)